In [42]:
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")

In [73]:
product = pd.read_csv('PO_Shopshi_251122.csv')
data = pd.read_csv('ImagesAndAttachments.csv')

In [74]:
data

Empty DataFrame
Columns: [Action, SKU, URL, FileName, Default]
Index: []

In [24]:
product[['ProductCode', 'Name', 'Barcode']]

,ProductCode,Name,Barcode
0,8853969015309,(S) Pigeon Glutinous Rice/1kg,8853969015309
1,F0801R,(S) Pigeon Jasmine Rice/1Kg,8853969015224
2,9311994000015,(S) WING HONG LUP CHONG Dried Sausages/375G,9311994000015
3,AYDLS12,AROY-D LYCHEE IN SYRUP/565G,016229000561
4,4946842526512,Asahi Mintia Grape/6.5g,4946842526512
...,...,...,...
354,A077521273312,Yeo's Satay Sauce/270g,077521273312
355,9556156042872,Yeo's Soy Bean Drink With Whole soy Beans/250ml,9556156042872
356,6901370828383,Yulin Rub Model Sport Zheng Gu Shui Liniment/88ml,6901370828383
357,6901370653589,Yulin Zheng Gu Shui Liniment/100ml,6901370653589
358,4901111844872Zeitaku,Zeitaku Luxury Drip Pack Special Blend/8pcs,4901111844872

In [32]:
File_list = os.listdir()

In [75]:
for i in range(len(product)):
    SKU = product['ProductCode'][i]
    FileName = ''
    for j in File_list:
        try:
            if product['Barcode'][i] in j:
                FileName = j
        except:
            continue
    data = data.append({'SKU': SKU, 'FileName': FileName}, ignore_index=True)

In [37]:
product['Barcode'][i]

nan

In [41]:
product.iloc[14, :]

ProductCode                                          BZK-KZ03
Name                    BRUNO Digital Air Fryer (Light Green)
Category                                             Cookware
Brand                                                   Bruno
Type                                                    Stock
                                        ...
DimensionAttribute6                                       NaN
DimensionAttribute7                                       NaN
DimensionAttribute8                                       NaN
DimensionAttribute9                                       NaN
DimensionAttribute10                                      NaN
Name: 14, Length: 94, dtype: object

In [76]:
data['SKU'] = data['SKU'].astype(str)

In [77]:
data.to_csv('AttachImage.csv')

In [78]:
info = pd.read_csv('AttachImage.csv')

In [79]:
info

     Unnamed: 0  Action                   SKU  URL           FileName  Default
0             0     NaN         8853969015309  NaN  8853969015309.png      NaN
1             1     NaN                F0801R  NaN  8853969015224.png      NaN
2             2     NaN         9311994000015  NaN  9311994000015.png      NaN
3             3     NaN               AYDLS12  NaN   016229000561.png      NaN
4             4     NaN         4946842526512  NaN  4946842526512.png      NaN
..          ...     ...                   ...  ...                ...      ...
354         354     NaN         A077521273312  NaN   077521273312.png      NaN
355         355     NaN         9556156042872  NaN  9556156042872.jpg      NaN
356         356     NaN         6901370828383  NaN  6901370828383.png      NaN
357         357     NaN         6901370653589  NaN  6901370653589.png      NaN
358         358     NaN  4901111844872Zeitaku  NaN  4901111844872.jpg      NaN

[359 rows x 6 columns]

In [ ]:
For i in range(len(info)):
    if info[]