In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data.csv')

C:\Users\n10941576\AppData\Local\Temp\ipykernel_8404\4238453918.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12454 entries, 0 to 12453
Data columns (total 94 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ProductCode                   12453 non-null  object
 1   Name                          12453 non-null  object
 2   Category                      12454 non-null  object
 3   Brand                         3967 non-null   object
 4   Type                          12454 non-null  object
 5   FixedAssetType                0 non-null      float64
 6   CostingMethod                 12454 non-null  object
 7   Length                        12454 non-null  int64
 8   Width                         12454 non-null  int64
 9   Height                        12454 non-null  int64
 10  Weight                        12454 non-null  int64
 11  CartonLength                  12454 non-null  int64
 12  CartonWidth                   12454 non-null  int64
 13  CartonHeight                  12454 non-null  int64
 14  CartonInnerQuantity           12454 non-null  int64
 15  CartonQuantity                12454 non-null  int64
 16  CartonVolume                  12454 non-null  int64
 17  WeightUnits                   6714 non-null   object
 18  DimensionUnits                6714 non-null   object
 19  Barcode                       10784 non-null  object
 20  MinimumBeforeReorder          12454 non-null  int64
 21  ReorderQuantity               12454 non-null  int64
 22  DefaultLocation               12453 non-null  object
 23  LastSuppliedBy                10038 non-null  object
 24  SupplierProductCode           6220 non-null   object
 25  SupplierProductName           104 non-null    object
 26  SupplierFixedPrice            12454 non-null  float64
 27  PriceTier1                    12454 non-null  float64
 28  PriceTier2                    12454 non-null  float64
 29  PriceTier3                    12454 non-null  int64
 30  PriceTier4                    12454 non-null  int64
 31  PriceTier5                    12454 non-null  int64
 32  PriceTier6                    12454 non-null  int64
 33  PriceTier7                    12454 non-null  int64
 34  PriceTier8                    12454 non-null  int64
 35  PriceTier9                    12454 non-null  int64
 36  PriceTier10                   12454 non-null  int64
 37  AssemblyBOM                   12454 non-null  object
 38  AutoAssemble                  12454 non-null  object
 39  AutoDisassemble               12454 non-null  object
 40  DropShip                      12454 non-null  object
 41  DropShipSupplier              0 non-null      float64
 42  AverageCost                   12454 non-null  float64
 43  DefaultUnitOfMeasure          12454 non-null  object
 44  InventoryAccount              10792 non-null  object
 45  RevenueAccount                11330 non-null  object
 46  ExpenseAccount                177 non-null    object
 47  COGSAccount                   10622 non-null  object
 48  ProductAttributeSet           9386 non-null   object
 49  AdditionalAttribute1          0 non-null      float64
 50  AdditionalAttribute2          2 non-null      float64
 51  AdditionalAttribute3          0 non-null      float64
 52  AdditionalAttribute4          0 non-null      float64
 53  AdditionalAttribute5          0 non-null      float64
 54  AdditionalAttribute6          0 non-null      float64
 55  AdditionalAttribute7          0 non-null      float64
 56  AdditionalAttribute8          0 non-null      float64
 57  AdditionalAttribute9          0 non-null      float64
 58  AdditionalAttribute10         0 non-null      float64
 59  DiscountName                  146 non-null    object
 60  ProductFamilySKU              0 non-null      float64
 61  ProductFamilyName             0 non-null      float64
 62  ProductFamilyOption1Name      0 non-null      float64
 63  ProductFamilyOption1Value     0 non-null      float64
 64  ProductFamilyOption2Name      0 non-null      float64
 65  ProductFamilyOption2Value     0 non-null      float64
 66  ProductFamilyOption3Name      0 non-null      float64
 67  ProductFamilyOption3Value     0 non-null      float64
 68  CommaDelimitedTags            4112 non-null   object
 69  StockLocator                  0 non-null      float64
 70  PurchaseTaxRule               10758 non-null  object
 71  SaleTaxRule                   10756 non-null  object
 72  Status                        12454 non-null  object
 73  Description                   4 non-null      object
 74  ShortDescription              9458 non-null   object
 75  Sellable                      12454 non-null  object
 76  PickZones                     1 non-null      object
 77  AlwaysShowQuantity            12404 non-null  float64
 78  WarrantySetupName             0 non-null      float64
 79  InternalNote                  2 non-null      object
 80  ProductionBOM                 12454 non-null  object
 81  MakeToOrderBom                12454 non-null  object
 82  QuantityToProduce             12454 non-null  int64
 83  IsAccountingDimensionEnabled  12454 non-null  bool
 84  DimensionAttribute1           0 non-null      float64
 85  DimensionAttribute2           0 non-null      float64
 86  DimensionAttribute3           0 non-null      float64
 87  DimensionAttribute4           0 non-null      float64
 88  DimensionAttribute5           0 non-null      float64
 89  DimensionAttribute6           0 non-null      float64
 90  DimensionAttribute7           0 non-null      float64
 91  DimensionAttribute8           0 non-null      float64
 92  DimensionAttribute9           0 non-null      float64
 93  DimensionAttribute10          0 non-null      float64
dtypes: bool(1), float64(37), int64(21), object(35)
memory usage: 8.8+ MB

In [14]:
char = data[data['Status'] == 'ACTIVE'][['ProductCode', 'Name', 'Barcode']]

In [15]:
char = char.reset_index()
char.pop('index')
char

,ProductCode,Name,Barcode
0,UZ5522708,"""Minato"" Three Coloured Dango/45G X 5",4965020007216
1,Cloth hanger,#REF!,Cloth hanger
2,9369998325146,(S) Allegro Fresh Mini Tomatoes/200g,9369998325146
3,793618176808 - CTN,(S) ATLANTIC HALIBUT STEAK 320/360g CARTON,NaN
4,9328223000012,(S) AUS JUBILEE Fresh Pineapple/EA,9328223000012
...,...,...,...
10886,18184,香苗粉 Lemon Grass Powder 28g,84909006424
10887,216,香菇Mushrooms,216
10888,10,香菜Coriandar/Bunch,301
10889,NS-39171,高山烏龍茶,4711967362426
10890,17,黃金桃golden Peach/Kg,17

In [19]:
len(char['Barcode'].unique())

9700

In [16]:
Duplicate_code_list = []
for i in char['Barcode'].unique():
    if len(char[char['Barcode'] == i]) > 1:
        Duplicate_code_list.append(i)

In [18]:
len(Duplicate_code_list)

997

### Create another Dataframe that contain all the item which barcode is duplicate

In [29]:
Duplicate = pd.DataFrame(columns = data.columns)
for i in range(len(data)):
    if data['Barcode'][i] in Duplicate_code_list:
        Duplicate.loc[len(Duplicate)] = list(data.loc[i])

In [30]:
Duplicate

,ProductCode,Name,Category,Brand,Type,FixedAssetType,CostingMethod,Length,Width,Height,...,DimensionAttribute1,DimensionAttribute2,DimensionAttribute3,DimensionAttribute4,DimensionAttribute5,DimensionAttribute6,DimensionAttribute7,DimensionAttribute8,DimensionAttribute9,DimensionAttribute10
0,929521009691,(S) Casahana Elegance Mooncake-2H/2PC,Mooncakes,Casahana,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9329521009707-1,(S) CASAHANA Musang King Durian Series Mooncak...,Mooncakes,Casahana,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9329521009707,(S) CASAHANA Musang King Durian Series Mooncak...,Mooncakes,Casahana,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9329521008892-1,(S) CASAHANA Tea House Series Mooncake/1pc,Mooncakes,Casahana,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9329521008892,(S) CASAHANA Tea House Series Mooncake/680g,Mooncakes,Casahana,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2034,HRSHM,東和台灣燒卷Roasted Squid/100g,Canned Food,NaN,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2035,NS-39203,茉莉花茶,Snacks,NaN,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2036,27305,象麻竹筍片malingbambooshootslices140G,Canned Food,NaN,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2037,TWIN108,雙象麻竹筍片 140G Twin Elep Bambo Shoot Slices,Canned Food,NaN,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2038,NYG061,韓國17茶..17 Tea/500ml,Drinks,NaN,Stock,NaN,FIFO,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
Duplicate['Barcode'].value_counts()

9335388000054    4
8854241009412    4
4902750362543    4
929521009691     3
8850153533090    3
                ..
4902915364504    2
6901012021271    2
8801043055130    2
4901080081810    2
8851011216339    2
Name: Barcode, Length: 997, dtype: int64

In [34]:
Duplicate.to_csv('Duplicate_Barcode_items.csv', index = False)